@import "constants/theme";

.root {
  width: 100%;
  position: relative;

  .infoIcon {
    height: 16px;
    cursor: pointer;
    svg {
      fill: transparent;
      position: relative;
      font-size: 16px;
      @media (prefers-color-scheme: dark) {
        color: $palette-dark-tertiary-text;
      }
    }
  }

  .steps {
    list-style-type: none;
    padding-inline-start: 0.5rem;
    margin-top: 4px;
  }

  .help {
    margin-top: 1rem;
    .helpLinks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin-top: 4px;
    }
    .helpLink {
      border-radius: 0.5rem;
      border-color: $palette-secondary-main;
      padding: 0.5rem 0.75rem;
      color: $palette-primary-main-3;
      height: fit-content;
      width: 100%;
      white-space: nowrap;

      p {
        line-height: 1.25rem;
        text-transform: none;
        margin-right: 0.5rem;
        color: $palette-primary-main-3;
      }
      &:hover {
        border-color: $palette-primary-cobalt;
        color: $palette-primary-mist-hover;

        p {
          color: $palette-primary-mist-hover;
        }
      }
    }
  }

  .icon {
    fill: none;
    font-size: 20px;
  }

  .infoIcon {
    height: 20px;
  }
}
