@import "constants/theme";

.root {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  background-color: $palette-background-resizable-blocks;
  border-top: 1px solid $palette-border-resizable-blocks;
  @media (prefers-color-scheme: dark) {
    background-color: $palette-dark-background-resizable-blocks;
    border-top: 1px solid $palette-dark-border-resizable-blocks;
  }
}
