@import "constants/theme";

.root {
  margin: 0 auto;
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.skipBtn {
  position: absolute;
  top: -40px;
  left: 8px;
  z-index: 1200;
  text-transform: none;
  transition: top 0.3s ease-in-out;
  &:focus {
    top: 40px;
  }
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.content {
  width: 100%;
  flex: 1;
  height: calc(100vh - var(--top-margin));
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 32px;
  padding-bottom: 12px;

  .contentInner {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.page {
  flex: 1;
  overflow: hidden;
}

.layoutFooter {
  cursor: default;
  color: $palette-secondary-text;
  font-size: 12px;
  text-align: center;
  padding-bottom: 16px;

  > a {
    color: $palette-secondary-text;

    &:hover {
      text-decoration: underline;
    }
  }
}

.errorContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 0 24px 80px;
  @media (max-width: 992px) {
    padding-left: 0;
  }
  cursor: default;
  width: 100%;
  height: calc(100vh - 64px - 68px);
  min-height: 536px;
  color: $palette-primary-main;
  text-align: Center;

  .errorImage {
    height: calc(100% - 210px);
    min-height: 200px;
    max-height: 550px;
    margin-top: 48px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }

  h4 {
    font-weight: 600;
  }
}

.errorInfo {
  margin-top: 48px;
  text-align: center;

  h5 {
    font-weight: 600;
    font-size: 2.35rem;
  }

  h6 {
    font-weight: 400;
  }

  p {
    margin-top: 16px;
  }
}

.errorBack {
  margin: 24px;
  text-transform: uppercase;
  background-color: $palette-primary-cobalt;

  &:hover {
    background-color: lighten($palette-primary-cobalt, 20);
    color: $palette-primary-mist;
  }
}
