@import "constants/theme";

.root {
  border: 1px solid $palette-border-resizable-blocks;
  transition: width 0.2s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: $palette-background-content;

  @media (prefers-color-scheme: dark) {
    border-color: $palette-dark-background-header;
    background-color: $palette-dark-background-main-nav;
  }
}

.resizableWrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 220ms ease;
  will-change: transform;
}

.opening,
.open {
  transform: translateX(0);
}

.closing,
.closed {
  transform: translateX(100%);
}


