@import "constants/theme";

.root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  position: relative;
  background-color: $palette-background-resizable-blocks;
  border-top: 1px solid $palette-border-resizable-blocks;
  @media (prefers-color-scheme: dark) {
    background-color: $palette-dark-background-main-nav;
    border-top: 1px solid $palette-dark-background-main-nav;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    gap: 20px;
    overflow-x: auto;
  }

  .tabs {
    min-width: 210px;
    .tab {
      text-transform: uppercase;
      background-color: transparent;
      padding: 8px;
      p {
        font-weight: 500;
        font-size: 14px;
        color: inherit;
      }
    }
  }

  .filters {
    display: flex;
    align-items: stretch;
    gap: 12px;
    justify-content: flex-end;
    .formField {
      margin-top: 0;
      max-width: 300px;
      min-width: 150px;
    }
    .chip {
      height: 20px;
    }
    .exportBtn {
      text-transform: none;
      border-width: 1px;
      border-radius: 8px;
      height: auto;
      border-color: $palette-secondary-main;
      background-color: $palette-primary-contrastText;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px;
      width: 100%;
      &:not(:disabled) {
        color: $palette-primary-main-3;
      }
      margin: 0;
      &:hover {
        background-color: darken($palette-primary-contrastText, 5);
      }
      p {
        color: inherit;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $palette-dark-background-main-nav;
        border-color: $palette-dark-border;
        p,
        svg {
          color: $palette-dark-primary-text-2;
        }

        &:hover {
          background-color: darken($palette-dark-background-main-nav, 5);
        }
      }
    }
  }

  .content {
    margin-top: 12px;
  }

  .tableWrapper {
    background-color: $palette-table-background;
    border: 1px solid $palette-table-border;
    border-inline: 0;
    margin-top: 8px;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      border-color: $palette-dark-border;

      thead {
        th {
          border-radius: 0;
        }
      }
    }
    .tablePagination {
      border-top: 1px solid $palette-table-border;

      @media (prefers-color-scheme: dark) {
        background-color: $palette-dark-background-main-nav;
        border-color: $palette-dark-border;
      }
    }
  }
}

.icon {
  fill: none;
  font-size: 20px;
}
