@import "constants/theme";

.dialogContainer {
  .dialogHeader {
    svg.edit {
      fill: none;
    }
  }
}

.infoIcon {
  height: 16px;
  cursor: pointer;

  svg {
    color: $palette-primary-main;
    fill: transparent;
    position: relative;
    font-size: 16px;

    @media (prefers-color-scheme: dark) {
      color: $palette-dark-tertiary-text;
    }
  }
}

.stepOne,
.stepTwo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .stepHeader {
    display: flex;
    align-items: center;
    font-weight: 700;

    .infoIcon {
      margin-left: 6px;
    }
  }

  .testTargets {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .pageRow {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    &:not(:nth-child(2)) {
      margin-top: 32px;
    }

    .formField {
      :global(.MuiFormControl-root) {
        margin-bottom: 0;
        margin-top: 2rem;

        span {
          display: flex;
          &:not(:global(.Mui-error)) {
            color: $palette-primary-main-3;

            @media (prefers-color-scheme: dark) {
              &:global(.MuiChip-label) {
                color: $palette-dark-primary-text-2;
              }
            }
          }
          font-family: $regular-font;
          &:global(.MuiChip-label) {
            transform: none;
            display: block;
          }
        }
      }
    }

    .selectContainer {
      display: flex;
      align-items: center;
      flex: 1 0 100%;
      position: relative;

      p {
        flex: 1 1 auto;
        margin-right: 12px;
      }

      :global(.MuiBox-root) {
        font-family: $regular-font;
        font-size: 14px;
        flex: 1 1 100%;

        :global(.MuiFormControl-root) {
          flex-direction: row;
          align-items: center;
          margin-top: 0;
          flex-wrap: wrap;

          :global(.MuiAutocomplete-hasClearIcon) {
            padding-right: 0;
          }

          :global(.MuiFormLabel-root) {
            margin-left: 12px;
            margin-right: 20px;
            position: relative;
            top: unset;
            left: unset;
            transform: none;
          }

          :global(.MuiInputBase-root) {
            flex-grow: 1;
          }
        }
      }

      :global(.MuiAutocomplete-hasClearIcon) {
        :global(.MuiInputBase-root) {
          padding-right: 9px;
        }
      }
    }

    .deleteButton {
      position: absolute;
      right: -40px;
      bottom: 0;
      svg {
        fill: none;
        color: $palette-primary-cobalt;
        @media (prefers-color-scheme: dark) {
          color: $palette-dark-primary-text-2;
        }
      }
    }
  }
}

.stepTwo {
  .formField {
    :global(.MuiFormControl-root) {
      margin-bottom: 0;
      margin-top: 2rem;

      span {
        &:global(.MuiChip-label) {
          transform: none;
        }
      }
    }
  }
}

.formField {
  @media (prefers-color-scheme: dark) {
    > p,
    label {
      color: $palette-dark-primary-text-2 !important;

      p {
        color: $palette-dark-primary-text-2 !important;
      }
      svg {
        color: $palette-dark-tertiary-text;
      }
    }
  }
  input {
    border-radius: 8px;
    border-color: $palette-secondary-main;
  }
  .textField {
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 2rem;

    :global(.MuiInputLabel-root) {
      top: -20px;
      font-family: $regular-font;

      &:not(:global(.Mui-error)) {
        color: $palette-primary-main-3;
      }
    }

    :global(.MuiTypography-root) {
      color: $palette-primary-main-3;
      font-family: $regular-font;
    }

    > div {
      border-radius: 8px;
      border: 1px solid $palette-secondary-main;
      input,
      fieldset,
      textarea {
        border-radius: 8px;

        &:focus {
          border-color: $palette-secondary-main;
        }
      }

      input,
      textarea {
        @media (prefers-color-scheme: dark) {
          background-color: $palette-dark-background-2;
          border-radius: 8px;

          &::placeholder {
            color: $palette-dark-report-divider;
          }
        }
      }

      :global(fieldset.MuiOutlinedInput-notchedOutline) {
        @media (prefers-color-scheme: dark) {
          border-color: $palette-dark-background-content;
        }
      }
    }

    &.textFieldError {
      border: none;
    }

    @media (prefers-color-scheme: dark) {
      :global(.MuiOutlinedInput-root) {
        border-radius: 8px;
        background-color: $palette-dark-background-2;
        border-color: $palette-dark-border !important;
      }
    }
  }

  span {
    &:global(.Mui-error) {
      p {
        color: $palette-dark-error-main;
      }
    }
  }
}

.addTargetButton {
  color: $palette-primary-icon;
  align-self: start;

  p {
    font-family: $regular-font;
    color: $palette-primary-icon;
    text-transform: none;
    letter-spacing: 0;
    line-height: 20px;
    font-size: 14px;
  }

  svg {
    margin-right: 8px;
    font-size: 20px;
  }

  @media (prefers-color-scheme: dark) {
    p,
    svg {
      color: $palette-dark-tertiary-text;
    }
  }
}

.dialogContentContainer {
  overflow: auto;
  width: 100%;
  padding: 30px 50px;
  & > * {
    margin: 0 auto;
  }
}

.dialogContainer {
  .dialogHeader {
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 0;
    border-bottom: none;

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }
    }

    &.dialogHeaderEdit {
      .icon {
        border: none;
      }
    }
  }

  .dialogContent {
    width: 100%;
    max-width: 360px;
    flex: 0 0 auto;
    padding-bottom: 0;
    overflow: visible;
  }
}
