{
  "root": true,
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "security/detect-object-injection": 0,
    "react/jsx-no-target-blank": "off",
    "react/no-unescaped-entities": "off",
    "import/no-anonymous-default-export": "off"
  }
}
