.icon {
  position: relative;
  width: 28px;
  height: 28px;
  opacity: 0.8;
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.large {
  width: 48px;
  height: 48px;
}

