@import "constants/theme";

.root {
  position: relative;
  .closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    svg {
      color: $palette-primary-main-3;
      &:hover {
        color: $palette-primary-main-3;
      }
    }
  }
  .filterWrapper {
    padding: 8px 0px 48px 16px;
    width: 350px;
    height: 100%;
    background-color: $palette-content-background;
    display: flex;
    flex-direction: column;
    .filters {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      .header {
        display: flex;
        align-items: center;
        gap: 16px;

        .headerIcon {
          margin: 1rem .5rem .5rem;
          color: $palette-primary-main;
          font-size: 2rem;
          padding: 6px;
        }
        .filterIcon {
          width: 24px;
        }
      }
      .list {
        h3,
        p {
          font-size: 14px;
          color: $palette-primary-main-3;
        }
        svg {
          color: $palette-primary-main;
          fill: transparent;
          font-size: 24px;
          &:hover {
            color: $palette-primary-contrastText;
          }
        }
      }
      svg {
        color: $palette-primary-main-3;
        fill: transparent;
        &:hover {
          color: $palette-primary-main-3;
        }
      }
    }
    .list {
      h3,
      p {
        font-size: 14px;
        color: $palette-primary-main-3;
      }
      p {
        font-weight: 500;
      }
      h3 {
        font-weight: 700;
        margin-block: 4px;
      }
      h3:not(:first-of-type) {
        margin-top: 16px;
      }
      .listItem {
        padding-bottom: .5rem;
        .listButton {
          padding: calc(var(--level, 0) * 8px);
          .expandButton {
            padding: 0;
            border: 1px solid $palette-primary-main-3;
            border-radius: 4px;
            width: 16px;
            aspect-ratio: 1;
            font-size: 16px;
            margin-right: 8px;
            svg {
              width: 100%;
              height: 100%;
              color: $palette-primary-main-3;


            }
          }
        }
        :global(.MuiListItemSecondaryAction-root) {
          top: 35%;
        }
        .checkbox {
          padding: 0;
          margin: 0;
          input {
            pointer-events: auto;
          }
          svg {
            font-size: 1rem;
            overflow: visible;
            color: $palette-secondary-main;

            &.checked {
              color: $palette-primary-main;
              background-color: $palette-table-checkbox-selected-background;
            }
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      text-align: right;
      position: absolute;
      bottom: 8px;
      left: 16px;
      right: 16px;
      button {
        text-transform: none;
        border-radius: 8px;
        padding: 8px 14px;
        &.clear {
          border-width: 1px;
          border-color: $palette-secondary-main;
          background-color: $palette-primary-contrastText;
          &:not(:disabled) {
            color: $palette-primary-main-3;
          }
          &:hover {
            background-color: darken($palette-primary-contrastText, 5);
          }
        }
        p {
          color: $palette-primary-contrastText;
          color: inherit;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: $palette-dark-background-2;
      .filters {
        .header {
          .left {
            p {
              color: $palette-dark-primary-text-2;
            }
          }
          button {
            svg {
              color: $palette-dark-primary-text-2;
            }
          }
        }
        .list {
          h3 {
            color: $palette-dark-primary-text-2;
          }

          p {
            color: $palette-dark-primary-text-2;
          }

          .listItem {
            .listButton {
              .expandButton {
                border-color: $palette-dark-primary-text-2;
                svg {
                  color: $palette-dark-primary-text-2;
                }
              }
            }
          }

          .checkbox {
            color: $palette-dark-background-content;
            background-color: $palette-dark-background-main-nav;
            &:global(.MuiCheckbox-root.Mui-checked) {
              color: $palette-dark-table-checkbox-selected-background;
              background-color: $palette-dark-primary-main;
              border-radius: 6px;
            }
          }
        }
      }
      .footer {
        button.clear {
          &:not(:disabled) {
            color: $palette-dark-primary-text-2;
          }
          background-color: $palette-dark-background-2;
          border-color: $palette-dark-border;
          color: $palette-dark-primary-disabled;

          &:hover {
            background-color: lighten($palette-dark-background-2, 5);
          }
        }
      }
    }
  }
}
