@import "constants/theme";

.root {
  height: 100%;

  .top {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      padding: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: $palette-slider-background;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      position: relative;

      .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 0.75rem;
      }

      .id {
        font-size: 1.125rem;
        font-weight: 700;
        color: $palette-primary-main-3;
        line-height: 1.75rem;
        display: flex;

        span {
          margin-right: 0.75rem;
          display: flex;
          align-items: center;

          svg {
            fill: transparent;
          }
        }
      }
      .type {
        display: flex;
        align-items: center;
        gap: 1rem;
        :global(.MuiFormControl-root) {
          margin-top: 0;

          :global(.MuiSelect-select) {
            font-size: 0.75rem;
            font-weight: 600;
            padding: 2px 32px 2px 8px;
          }

          svg {
            color: inherit;
          }
        }
        .typeSelect {
          width: 110px;
        }
        .closeButton {
          color: $palette-dark-background-2;
          .icon {
            fill: none;
            font-size: 24px;
          }
        }
      }
      .name {
        flex: 0 0 100%;
        margin-top: 1.5rem;
      }
      .selectorUsed {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        gap: 4px;
        p {
          font-size: 14px;
        }
        .selectorChip {
          border-radius: 999px;
          padding: 0;
          height: auto;
          :global(.MuiChip-label) {
            padding: 4px 12px;
          }
          p {
            color: inherit;
            font-size: 12px;
            text-transform: none;
          }
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: $palette-dark-background-header;

      .header {
        background-color: $palette-dark-background-header;
        .id,
        .type {
          color: $palette-dark-primary-text-2;

          svg {
            color: $palette-dark-primary-text-2;
          }

          :global(.MuiSelect-select) {
            color: $palette-dark-background-content;
          }
        }
      }
    }
  }

  .tabsWrapper {
    padding: 1.25rem;
    .tabs {
      border-bottom: 1px solid $palette-secondary-main;

      :global(.MuiTab-root) {
        color: $palette-primary-text;
        font-weight: 400;
        &:global(.Mui-selected) {
          color: $palette-primary-icon;
          font-weight: 600;
        }

        &[disabled] {
          cursor: not-allowed;
          color: $palette-primary-light-grey;
        }
      }
      :global(.MuiTabs-indicator) {
        background-color: $palette-primary-icon;
      }
    }
    @media (prefers-color-scheme: dark) {
      .tabs {
        border-bottom-color: $palette-dark-border;

        :global(.MuiTab-root) {
          color: $palette-dark-primary-text-2;
          &:global(.Mui-selected) {
            color: $palette-dark-tertiary-text;
          }

          &[disabled] {
            cursor: not-allowed;
            color: $palette-dark-primary-gray;
          }
        }
        :global(.MuiTabs-indicator) {
          background-color: $palette-dark-tertiary-text;
        }
      }
    }
  }

  .detailsTabWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .contentWrapper {
      padding: 0 1.25rem 1.25rem;
      .steps {
        list-style-type: none;
        padding-inline-start: 0.5rem;
        margin-top: 4px;
      }

      .codeWrapper {
        margin-top: 16px;
        pre {
          margin-block: 4px;
        }
        code {
          padding: 10px;
          border-radius: 8px;
          position: relative;
          overflow: hidden;
          margin-top: 0;
          font-size: 14px;
          width: 100%;
          background: $palette-input-code;
          color: $palette-input-code-text;
          white-space: normal;
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      .contentWrapper {
        .codeWrapper {
          code {
            background-color: $palette-dark-background-2;
            color: $palette-dark-primary-text-2;
          }
        }

        .help {
          button {
            border-color: $palette-dark-primary-main;
            background-color: $palette-dark-primary-main;

            p,
            svg {
              color: $palette-dark-primary-text-2;
            }
          }
        }
      }
    }
  }

  .tabWrapper {
    padding: 0 1.25rem;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: 700;
      }
      button {
        border-radius: 4px;
        color: $palette-dark-border;
        padding: 0 8px;
      }

      .editIcon {
        font-size: 24px;
      }
    }
    .tabForm {
      :global(.MuiFormControl-root) {
        margin-top: 0;
        :global(.MuiFormLabel-root) {
          display: none;
        }
      }
      .buttonWrapper {
        margin-top: 1rem;
      }
    }
  }

  .bottom {
    padding: 20px;
  }
  .formWrapper.open {
    box-shadow: 0px 0px 10px 0px #00000026;
    background-color: $palette-slider-background;
    padding: 1.25rem;

    @media (prefers-color-scheme: dark) {
      box-shadow: none;
      background-color: $palette-dark-background-main-nav;
    }
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;

  button {
    padding: 0.5rem 0.875rem;
    border-radius: 8px;
    width: 100px;
    height: 40px;

    p {
      line-height: 1.25rem;
      font-weight: 600;
      text-transform: none;
      color: $palette-primary-contrastText;
    }
    &.cancel {
      background-color: $palette-background-grey;
      margin-right: 1rem;

      p {
        color: $palette-primary-icon;
      }
      &:hover {
        background-color: $palette-background-mist;
      }

      @media (prefers-color-scheme: dark) {
        background-color: $palette-dark-background-2;
        border-color: $palette-dark-border;

        p {
          color: $palette-dark-primary-text-2;
        }

        &:hover {
          background-color: darken($palette-dark-background-2, 5);
        }
      }
    }
    &.fullWidth {
      width: 100%;
    }
  }
}

.formField {
  label {
    font-weight: 500;
    color: $palette-primary-main-3;
  }
  .textField {
    > div {
      input,
      textarea {
        background-color: $palette-card-background;
        font-size: 16px;
        line-height: 24px;
        height: auto;
        font-family: $regular-font;

        @media (prefers-color-scheme: dark) {
          background-color: $palette-dark-background-2;
          color: $palette-dark-primary-text-2;
        }
      }
      :global(fieldset.MuiOutlinedInput-notchedOutline) {
        border: 1px solid $palette-secondary-main;
        border-radius: 8px;

        @media (prefers-color-scheme: dark) {
          border-color: $palette-dark-border;
        }
      }
    }
  }
}

.infoIcon {
  height: 20px;
}

.icon {
  fill: none;
  font-size: 20px;
}

.remediationSelect {
  font-size: 0.875rem;
}

.selectMenu {
  li p {
    font-size: 0.75rem;
  }
}
