@import "constants/theme";

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 8px;
  .stat {
    .summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 8px;
      .name {
        color: $palette-primary-main-3;
        text-transform: capitalize;
        font-weight: 500;
      }
      .count {
        color: $palette-secondary-icon;
        font-weight: 600;
      }
    }
    .progressBar {
      height: 8px;
      border-radius: 4px;
    }
  }
}
