@import 'constants/theme';

.root {
  padding-bottom: 16px;
  margin-left: -32px;
  padding-left: 32px;
  margin-right: -32px;
  padding-right: 32px;
  position: relative;
  background-color: $palette-accordion-details;

  &.margin {
    margin-bottom: 16px;
  }

  &.loading {
    opacity: 0.7;

    .loadingBox {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 500;
    }
  }

  .toggles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    > a {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        margin-left: 2px;
      }
    }
  }

  .filters {
    margin-top: 36px;
  }

  .actions {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}
