@import "constants/theme";

.projects {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-right: 0.5rem;

  .pageHeading {
    font-size: 24px;
    font-family: $regular-font;
    color: $palette-primary-text;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 24px;
      font-family: $regular-font;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }
    }
  }

  .addProject {
    button {
      border-radius: 8px;
      padding: 8px 14px;
      background-color: $palette-primary-main;
      font-family: $regular-font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      text-transform: none;
      font-size: 20px;

      svg {
        margin-left: 8px;
        fill: $palette-button-main;
        stroke: $palette-button-main;
      }

      p {
        color: inherit;

        @media (prefers-color-scheme: dark) {
          color: $palette-dark-primary-text;
        }
      }
    }
  }

  .projectsList {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    margin-top: 34px;

    @media screen and (max-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 740px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .project {
      cursor: pointer;
      font-family: $regular-font;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }

      .projectImg {
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: $palette-dropdown-shadow;
        img {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          object-fit: cover;
        }
        &.placeholder {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $palette-table-border;

          @media (prefers-color-scheme: dark) {
            border-color: $palette-dark-background-2;
          }
          img {
            border-radius: none;
            width: 50%;
            height: 50%;
            object-fit: contain;
            object-position: center;
          }
        }
      }

      .projectInfo {
        display: flex;
        justify-content: space-between;

        .projectName {
          display: flex;
          align-items: center;

          .projectIcon {
            margin-left: 8px;
            svg {
              display: block;
              font-size: 20px;
              stroke: transparent;
            }
          }
        }

        .projectMenu {
          svg {
            display: block;

            @media (prefers-color-scheme: dark) {
              color: $palette-dark-primary-text;
            }
          }

          @media (prefers-color-scheme: dark) {
            color: $palette-dark-primary-text;
          }
        }
      }

      .icon {
        font-size: 36px;
      }
    }
  }
}

.noProjects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;

  p.noProjectText {
    margin-bottom: 1rem;
  }

  button {
    border-radius: 8px;
    padding: 8px 14px;
    background-color: $palette-primary-main;
    font-family: $regular-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: none;

    svg {
      font-size: 20px;
      margin-left: 8px;
    }

    p {
      color: inherit;
    }
  }
}
