@import "constants/theme";
.root {
  height: calc(100vh - 36px);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .pageHeader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $palette-content-background;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-family: $regular-font;
    color: $palette-primary-text;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $palette-secondary-main;

    .titleWrapper {
      display: flex;
      align-items: flex-start;
      gap: 10px;

      .title {
        font-size: 24px;
        font-family: $regular-font;
        color: $palette-primary-text;

        @media (prefers-color-scheme: dark) {
          color: $palette-dark-primary-text;
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: $palette-dark-border;
      border-bottom-color: $palette-dark-background-header;
    }
  }

  .contentContainer {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 64px);

    .tabsWrapper {
      position: sticky;
      flex-shrink: 0;
    }

    .scrollContentWrapper {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: scroll;

      &.profileContentWrapper {
        display: flex;
      }
    }
  }

  .actionButton {
    button {
      border-radius: 8px;
      padding: 8px 14px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: none;
      color: $palette-button-main;
      p {
        color: inherit;
      }
      svg {
        font-size: 20px;
        margin-left: 8px;
        fill:$palette-button-main;
        stroke: $palette-button-main;
        path {
          fill: $palette-button-main;
        }
      }
    }
  }

  .tabs {
    padding-top: 1.5rem;
    padding-left: 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: fit-content;
    :global(.MuiTabs-indicator) {
      width: 0;
    }

    .tab {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      line-height: 1;
      color: $palette-primary-main-3;
      font-weight: 400;
      font-size: 1rem;
      padding: 4px 8px;
      border-radius: 8px;

      svg {
        font-size: 20px;
        z-index: 1;
        fill: transparent;
      }

      .tabTitle {
        z-index: 1;
      }

      &:global(.Mui-selected) {
        font-weight: 600;
        background-color: $palette-background-main-nav;
      }

      &:nth-child(2) {
        svg {
          fill: inherit;
        }
      }

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-menu-main;

        .tabTitle {
          color: $palette-dark-menu-main;
        }

        &:global(.Mui-selected) {
          background-color: $palette-dark-background-header;

          .tabTitle,
          svg {
            color: $palette-dark-primary-text-2;
          }
        }
      }
    }
  }

  .tabPanel {
    flex-grow: 1;
    padding-bottom: 10rem;
  }

  .tabHeader {
    font-size: 1rem;
    font-weight: 500;
    color: $palette-primary-main-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem !important;

    h3 {
      font-size: 1rem;
      font-weight: 500;
      color: $palette-primary-main-3;
    }
  }

  .tableWrapper {
    border: 1px solid $palette-table-border;
    background-color: $palette-table-background;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $palette-dropdown-shadow;

    td:last-child {
      width: 1%;
      white-space: nowrap;

      :global(.Mui-disabled) {
        background-color: transparent;
        border: none;
        cursor: not-allowed;
        pointer-events: unset;
      }
    }

    @media (prefers-color-scheme: dark) {
      background-color: $palette-dark-background-header;
      border-color: $palette-dark-border;
    }
  }

  .tablePagination {
    border-top: 1px solid $palette-table-border;

    @media (prefers-color-scheme: dark) {
      border-color: $palette-dark-border;
    }
  }

  .accessibilityPage {
    .accordion {
      background-color: transparent;
      border-bottom: 1px solid $palette-accordion-border;

      @media (prefers-color-scheme: dark) {
        --Paper-overlay: none !important;
        border-bottom-color: $palette-dark-background-main-nav;
      }

      &:last-child {
        border-bottom: none;
      }

      .accordionSummary {
        border-bottom: none;

        svg {
          fill: none;
          font-size: 20px;
        }

        .accordionTitle {
          padding: 1rem 0 0;
        }
      }

      .accordionContent {
        padding: 1rem 0 1.5rem;
        border-bottom: none;
        .card {
          background-color: $palette-background-content;
          border-color: $palette-primary-mist;
          overflow: visible;

          &:hover {
            background-color: $palette-primary-cobalt;
            border-color: $palette-primary-mist-hover;
            color: $palette-primary-mist;

            button {
              div,
              p {
                color: $palette-primary-mist;
              }
            }

            .cardContent {
              .cardTitle,
              .cardDescription {
                color: $palette-primary-mist;
              }

              .icon {
                color: $palette-primary-mist;
              }
            }
          }

          button {
            padding-top: 1rem;
            padding-bottom: 1rem;

            &[data-active] {
              background-color: $palette-primary-icon;

              div,
              p {
                color: $palette-primary-mist;
              }

              .cardContent {
                .cardTitle,
                .cardDescription {
                  color: $palette-primary-mist;
                }

                .icon {
                  color: $palette-primary-mist;
                }
              }
            }
          }

          .cardContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            .iconContainer {
              margin-bottom: 1rem;
              z-index: 1;
            }

            .icon {
              border-radius: 0;
              font-size: 60px;
              stroke: transparent;
              color: $palette-card-title;

              @media (prefers-color-scheme: dark) {
                color: $palette-primary-mist;
                path {
                  fill:$palette-content-background;
                }
              }
            }

            .cardTitle {
              font-weight: 500;
              color: $palette-card-title;
              z-index: 1;
            }

            .cardDescription {
              color: $site-scan-text;
              text-align: center;
              z-index: 1;
            }
          }

          @media (prefers-color-scheme: dark) {
            background-color: $palette-dark-border;
            border-color: $palette-dark-background-main-nav;

            .cardContent {
              img, .cardTitle {
                color:$palette-dark-primary-text-2;
              }

              .cardDescription {
                color: $palette-dark-tertiary-text;
              }
            }

            &:hover {
              border-color: $palette-dark-border;
            }
          }
        }

        .slidersContainer {
          border: 1px solid $palette-primary-mist;
          border-radius: 8px;
          padding: 1.5rem 0.75rem;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: flex-end;
          margin-bottom: 1rem;

          @media (prefers-color-scheme: dark) {
            border-color: $palette-dark-background-main-nav;
          }

          .sliderContainerOuter {
            flex: 1 0 50%;
            padding-left: 0.75rem;
            padding-right: 0.75rem;

            &.scaled {
              flex: 1 0 100%;
            }

            .scaledSlider {
              flex-wrap: wrap;
              justify-content: flex-start;

              :global(.MuiSlider-root) {
                margin-bottom: 1rem;
                flex: 1 0 100%;
              }

              button:nth-child(2) {
                margin-left: 0;
              }
            }
          }

          .sliderTitle {
            padding-bottom: 1rem;
          }

          .sliderContainer {
            border: 1px solid $palette-primary-mist;
            border-radius: 8px;

            @media (prefers-color-scheme: dark) {
              border-color: $palette-dark-background-main-nav;
            }
          }
          .sliderButtonDecrease {
            border-radius: 8px 0 0 8px;

            svg {
              z-index: 1;
              font-size: 20px;
              color: $palette-primary-subtitle;
            }
          }

          .sliderButtonIncrease {
            border-radius: 0 8px 8px 0;
            svg {
              z-index: 1;
              font-size: 20px;
              color: $palette-primary-subtitle;
            }
          }

          .slider {
            height: 2rem;
            padding: 0;
            border-radius: 0;
            color: $palette-content-background;

            :global(.MuiSlider-rail) {
              background-color: $palette-slider-background;
              opacity: 1;
              height: calc(2rem + 2px);

              @media (prefers-color-scheme: dark) {
                background-color: $palette-dark-background-header;
              }
            }

            :global(.MuiSlider-track) {
              background-color: $palette-slider-background-track;
              border: none;
              height: calc(2rem + 2px);
            }

            :global(.MuiSlider-thumb) {
              display: none;
            }

            :global(.MuiSlider-mark) {
              width: 2px;
              background-color: $palette-content-background;
              height: calc(2rem + 2px);
              border-radius: 0;

              &[data-index="0"],
              &[data-index="5"] {
                background-color: $palette-primary-mist;
              }
            }

            :global(.MuiSlider-markActive) {
              background-color: $palette-content-background;
              &[data-index="0"],
              &[data-index="5"] {
                background-color: $palette-primary-mist;
              }
            }
          }

          .sliderResetButton {
            border-radius: 32px;
            height: 40px;
            border-color: $palette-accordion-border;
            border-width: 1px;
            margin-right: 0.75rem;

            svg {
              color: $palette-primary-subtitle;
              z-index: 1;
            }

            .sliderResetButtonText {
              color: $palette-card-title;
              z-index: 1;
            }

            &:hover {
              background-color: darken($palette-primary-contrastText, 5);
            }

            @media (prefers-color-scheme: dark) {
              border-color: $palette-dark-background-main-nav;
              svg,
              .sliderResetButtonText {
                color: $palette-dark-primary-text-2;
              }

              &:hover {
                svg,
                .sliderResetButtonText {
                  color: $palette-dark-background-main-nav;
                }
              }
            }
          }
        }
      }
    }
  }

  .profiles {
    height: 100%;
  }

  .profilesList {
    height: 100%;
    .profileCard {
      border-radius: 8px;
      background-color: $palette-card-background;
      box-shadow:
        0px 12px 16px -4px rgba(16, 24, 40, 0.08),
        0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      border: none;
      padding: 2.5rem;
      min-height: fit-content;

      &.connectedCard {
        background-color: $palette-connected-profile-card;
      }

      :global(.MuiCardContent-root) {
        text-align: center;
        padding: 0;

        .profileIcon {
          background-color: $palette-connected-profile-card;
          color: $palette-card-icon;
          border-radius: 100%;
          padding: 8px;
          font-size: 50px;
          border: 4px solid white;
          fill: transparent;
        }

        .profileName {
          margin-top: 0.75rem;
          margin-bottom: 0.5rem;
          color: $palette-primary-main-3;
          font-weight: 400;
        }

        .profileTitle {
          color: $palette-primary-main-3;
        }

        .organizationLogo {
          display: flex;
          align-items: center;
          flex-direction: column;
          border-top: 1px solid $palette-card-divider;
          margin-top: 0.75rem;

          img {
            max-width: 100px;
            display: block;
            margin-top: 0.5rem;
          }
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      @media (prefers-color-scheme: dark) {
        background-color: $palette-dark-background-2;
        :global(.MuiCardContent-root) {
          .profileName {
            color: $palette-dark-primary-text-2;
          }

          .profileTitle {
            color: $palette-dark-primary-text-2;
          }
        }
      }
    }

    .profileDetail {
      margin-top: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $palette-primary-main-3;

      .connected {
        display: flex;
        svg {
          font-size: 20px;
        }
      }

      svg {
        stroke: transparent;
      }

      .actionMenu {
        svg {
          stroke: $palette-primary-main-3;
          font-size: 30px;
          @media (prefers-color-scheme: dark) {
            color: $palette-dark-primary-text-2
          }
        }
      }

      span {
        margin-left: 0.5rem;
      }

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2
      }
    }
  }
}

.noProfiles {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;

  p.noProfileText {
    margin-bottom: 1rem;
  }

  button {
    border-radius: 8px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: none;
    color: $palette-button-main;
    p {
      color: inherit;
    }
    svg {
      margin-left: 8px;
      fill:$palette-button-main;
      stroke: $palette-button-main;
      path {
        fill: $palette-button-main;
      }
    }
  }
}
