@import "constants/theme";

.dialogContainer {
  .dialogHeader {
    svg.edit {
      fill: none;
    }
  }
}

.infoIcon {
  height: 16px;
  cursor: pointer;

  svg {
    color: $palette-primary-main;
    fill: transparent;
    position:relative;
    font-size: 16px;

    @media (prefers-color-scheme: dark) {
      color: $palette-dark-tertiary-text;
    }
  }
}

.stepOne,
.stepTwo {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .stepHeader {
    display: flex;
    align-items: center;
    font-weight: 700;

    .infoIcon {
      margin-left: 6px;
    }
  }

  .examples {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (prefers-color-scheme: dark) {
    :global(.MuiInputBase-root) {
      input {
        &::placeholder {
          color: $palette-secondary-icon;
        }
      }
    }
  }

  :global(.MuiFormLabel-root) {
    @media (prefers-color-scheme: dark) {
      color: $palette-dark-primary-text-2;
    }

    &:global(.Mui-focused) {
      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2 !important;
      }
    }

    &:global(.Mui-error) {
      @media (prefers-color-scheme: dark) {
        color: $palette-dark-error-main !important;
      }
    }
  }

  .fieldSetRow {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;

    &:not(:nth-child(1)) {
      .testCaseSelectField {
        :global(.MuiFormControl-root) {
          :global(.MuiFormLabel-root) {
            display: none;
          }
        }
      }
    }

    .formField {
      :global(.MuiFormControl-root) {
        margin-bottom: 0;
        margin-top: 2rem;

        span {
          &:not(:global(.Mui-error)) {
            color: $palette-primary-main-3;

            @media (prefers-color-scheme: dark) {
              &:global(.MuiFormLabel-asterisk) {
                color: $palette-dark-primary-text-2;
              }
            }
          }
          font-family: $regular-font;
        }
      }
    }

    .deleteButton {
      position: absolute;
      right: -40px;
      bottom: 0;

      svg {
        fill: none;
        color: $palette-primary-cobalt;
        @media (prefers-color-scheme: dark) {
          color: $palette-dark-primary-text-2;
        }
      }
    }
  }
}

.stepTwo {
  .fieldSetRow {
    .deleteButton {
      bottom: unset;
      top: 2rem;
    }
  }

  .formField {
    :global(.MuiFormControl-root) {
      margin-bottom: 0;
      margin-top: 2rem;
    }
  }
}

.formField {
  @media (prefers-color-scheme: dark) {
    > p,
    label {
      color: $palette-dark-primary-text-2 !important;

      p {
        color: $palette-dark-primary-text-2 !important;
      }
      svg {
        color: $palette-dark-tertiary-text;
      }
    }
  }
  input {
    border-radius: 8px;
    border-color: $palette-secondary-main;
  }
  .textField {
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 2rem;

    :global(.MuiInputLabel-root) {
      top: -20px;
      color: $palette-primary-main-3;
      font-family: $regular-font;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2;
      }

      &:global(.Mui-error) {
        color: $palette-dark-error-main;
      }
    }

    :global(.MuiTypography-root) {
      color: $palette-primary-main-3;
      font-family: $regular-font;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2;
      }
    }

    > div {
      border-radius: 8px;
      border: 1px solid $palette-secondary-main;
      input,
      fieldset,
      textarea {
        border-radius: 8px;

        &:focus {
          border-color: $palette-secondary-main;
        }
      }

      input,
      textarea {
        @media (prefers-color-scheme: dark) {
          background-color: $palette-dark-background-2;
          border-radius: 8px;

          &::placeholder {
            color: $palette-dark-report-divider;
          }
        }
      }

      :global(fieldset.MuiOutlinedInput-notchedOutline) {
        @media (prefers-color-scheme: dark) {
          border-color: $palette-dark-background-content;
        }
      }
    }

    &.textFieldError {
      border: none;
    }

    @media (prefers-color-scheme: dark) {
      :global(.MuiOutlinedInput-root) {
        border-radius: 8px;
        background-color: $palette-dark-background-2;
        border-color: $palette-dark-border !important;
      }
    }
  }

  span {
    &:global(.Mui-error) {
      p {
        color: $palette-dark-error-main;
      }
    }
  }
}

.addExampleButton,
.addTestButton {
  color: $palette-primary-icon;
  align-self: start;

  p {
    font-family: $regular-font;
    color: $palette-primary-icon;
    text-transform: none;
    letter-spacing: 0;
    line-height: 20px;
    font-size: 14px;
  }

  svg {
    margin-right: 8px;
    font-size: 20px;
  }

  @media (prefers-color-scheme: dark) {
    p,
    svg {
      color: $palette-dark-tertiary-text;
    }
  }
}

.addTestButton {
  margin-top: 1rem;
}

.dialogContentContainer {
  overflow: auto;
  width: 100%;
  padding: 30px 50px;
  & > * {
    margin: 0 auto;
  }
}

.dialogContainer {
  .dialogHeader {
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 0;
    border-bottom: none;

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }
    }

    .icon {
      //border: 2px solid $palette-primary-icon;
    }

    &.dialogHeaderEdit {
      .icon {
        border: none;
      }
    }
  }

  .dialogContent {
    width: 100%;
    max-width: 360px;
    flex: 0 0 auto;
    padding-bottom: 0;
    overflow: visible;
  }
}

.codeEditor {
  width: 100%;
  border-radius: 8px;
  border: 1px solid $palette-secondary-main;
  margin-top: .4rem;

  @media (prefers-color-scheme: dark) {
    background-color: $palette-dark-background-2;
  }
}
