@import "constants/theme";

.dialogContainer {
  .dialogHeader {
    svg.edit {
      fill: none;
    }
  }
}
.stepOne {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1rem;

  @media (prefers-color-scheme: dark) {
    :global(.MuiInputBase-root) {
      input {
        &::placeholder {
          color: $palette-secondary-icon;
        }
      }
    }
  }

  :global(.MuiFormLabel-root) {
    @media (prefers-color-scheme: dark) {
      color: $palette-dark-primary-text-2;
    }

    &:global(.Mui-focused) {
      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2 !important;
      }
    }

    &:global(.Mui-error) {
      @media (prefers-color-scheme: dark) {
        color: $palette-dark-error-main !important;
      }
    }
  }

  .formField {
    :global(.MuiFormControl-root) {
      margin-bottom: 0;
      margin-top: 2rem;

      span {
        &:not(:global(.MuiTypography-caption)) {
          transform: translate(6px, -8px);
        }
      }
    }
  }
}

.organizationToggle {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (prefers-color-scheme: dark) {
    :global(.MuiSwitch-thumb) {
      background-color: $palette-dark-primary-text-2;
    }
  }
}

.cityZip {
  display: flex;
  .formFieldZip {
    width: 130px;
    margin-right: 1rem;
  }

  .formFieldState {
    flex-grow: 1;
  }
}

.formFieldZip {
  width: 130px;
}

.formField {
  @media (prefers-color-scheme: dark) {
    > p,
    label {
      color: $palette-dark-primary-text-2 !important;

      p {
        color: $palette-dark-primary-text-2 !important;
      }
      svg {
        color: $palette-dark-tertiary-text;
      }
    }
  }
  img {
    max-height: 200px;
  }

  input {
    border-radius: 8px;
    border-color: $palette-secondary-main;
  }
  .textField {
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 2rem;

    :global(.MuiInputLabel-root) {
      top: -20px;
      color: $palette-primary-main-3;
      font-family: $regular-font;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2;
      }

      &:global(.Mui-error) {
        color: $palette-dark-error-main;
      }
    }

    :global(.MuiTypography-root) {
      color: $palette-primary-main-3;
      font-family: $regular-font;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text-2;
      }
    }

    > div {
      border-radius: 8px;
      border: 1px solid $palette-secondary-main;
      input,
      fieldset,
      textarea {
        border-radius: 8px;

        &:focus {
          border-color: $palette-secondary-main;
        }
      }

      input,
      textarea {
        @media (prefers-color-scheme: dark) {
          background-color: $palette-dark-background-2;
          border-radius: 8px;

          &::placeholder {
            color: $palette-dark-report-divider;
          }
        }
      }

      :global(fieldset.MuiOutlinedInput-notchedOutline) {
        @media (prefers-color-scheme: dark) {
          border-color: $palette-dark-background-content;
        }
      }
    }

    &.textFieldError {
      border: none;
    }
    @media (prefers-color-scheme: dark) {
      :global(.MuiOutlinedInput-root) {
        border-radius: 8px;
        background-color: $palette-dark-background-2;
        border-color: $palette-dark-border !important;
      }
    }
  }
}

.dialogContentContainer {
  overflow: auto;
  width: 100%;
  padding: 30px 50px;
  & > * {
    margin: 0 auto;
  }
}

.dialogContainer {
  .dialogHeader {
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 0;
    border-bottom: none;

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }
    }

    .icon {
      //border: 2px solid $palette-primary-icon;
    }

    &.dialogHeaderEdit {
      .icon {
        border: none;
        fill: none;
      }
    }
  }

  .dialogContent {
    width: 100%;
    max-width: 360px;
    flex: 0 0 auto;
    padding-bottom: 0;
    overflow: visible;
  }
}

.stepTwo {
  margin-top: 16px;
  display:flex;
  flex-direction: column;
  gap: 16px;
}
