@import "constants/theme";

.root {
  width: 450px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;

  @media (prefers-color-scheme: dark) {
    background-color: $palette-dark-background-main-nav;
  }

  .header {
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $palette-slider-background;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    position: relative;

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 0.75rem;
    }

    .id {
      font-size: 1.125rem;
      font-weight: 700;
      color: $palette-primary-main-3;
      line-height: 1.75rem;
      display: flex;

      span {
        margin-right: 0.75rem;
        display: flex;
        align-items: center;
      }
    }
    .type {
      display: flex;
      align-items: center;
      gap: 1rem;
      :global(.MuiFormControl-root) {
        margin-top: 0;

        :global(.MuiSelect-select) {
          font-size: 0.75rem;
          font-weight: 600;
          padding: 2px 32px 2px 8px;
        }

        svg {
          color: inherit;
        }
      }
      .typeSelect {
        width: 110px;
      }
      .closeButton {
        color: $palette-dark-background-2;
        height: 24px;
        width: 24px;
      }
    }
    .name {
      flex: 0 0 100%;
      margin-top: 1.5rem;
    }
  }

  .closeButton {
    position: absolute;
    padding: 2px;
    top: 16px;
    right: 16px;
  }

  .content {
    padding: 16px 16px 48px 16px;
  }
}
