@import "constants/theme";

.root {
  .details {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .item {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      h3 {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $palette-primary-main-3;
      }
    }
  }

  .ellipse {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .stat {
    .summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 8px;
      gap: 1rem;
      .name {
        color: $palette-primary-main-3;
        text-transform: capitalize;
        font-weight: 500;
        white-space: nowrap;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .caption {
        color: $palette-secondary-icon;
        font-weight: 600;
        white-space: nowrap;
        flex: 1;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .progressBar {
      height: 8px;
      border-radius: 4px;
    }
  }

  .overviewPage {
    .overview {
      .chart {
        margin-top: 0.625rem;
      }
      .pieChart {
        :global(.MuiPieArc-root) {
          stroke: none;
        }
      }
    }

    .legendLabel {
      font-size: 0.75rem;
      color: $palette-primary-main-3;
    }

    .principles {
      .details {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  .detailsPage {
    .legend {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .item {
        font-size: 0.875rem;
        color: $palette-primary-main-3;
        display: flex;
        align-items: center;
        gap: 0.25rem;

        .mark {
          width: 0.5rem;
          aspect-ratio: 1;
          border-radius: 100%;
        }

        p {
          color: inherit;
        }
      }
    }
    .pageDetails {
      .details {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: initial;
      }
      .stat {
        &:first-of-type {
          margin-top: 1rem;
        }
        .progressBar {
          width: 100%;
          height: 0.5rem;
          display: flex;
          align-items: center;
          border-radius: 100vw;
          overflow: hidden;
          div {
            height: 100%;
          }
        }
        .name {
          font-size: 1rem;
        }
        .caption {
          font-weight: 400;
        }
      }
    }
  }
}
