@import "constants/theme";

.root {
  .paper {
    border-radius: 12px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    gap: 32px;
    border: none;
    .titleWrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 18px;
      p {
        color: $palette-primary-main-3;
        font-size: inherit;
      }
      svg {
        font-size: 10px;
      }
    }
  }

  .search {
    margin: 0;
    flex: 1;
    border: none;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    font-size: 16px;
    input {
      padding-block: 12px;
      padding-left: 0;
    }
    .searchIcon {
      color: $palette-secondary-icon;
    }
    :global(.MuiOutlinedInput-notchedOutline) {
      border-width: 1px !important;
      border-radius: 6px !important;
    }
    :global(.MuiInputBase-root):hover {
      fieldset {
        border: none !important;
      }
    }

    @media (prefers-color-scheme: dark) {
      border-bottom-left-radius: 0;
      :global(.MuiInputBase-root) {
        background-color: $palette-dark-background-content;

        input {
          background-color: $palette-dark-background-content;
        }

        svg {
          color: $palette-dark-tertiary-text;
        }
      }
    }
  }

  .contentWrapper {
    padding: 0;
    overflow-y: hidden;

    .form {
      padding: 0 !important;

      .dialogHeader {
        display: flex;
        align-self: start;
        align-items: center;
        height: 60px;
        padding-left: 10px;
        border-bottom: none;
        padding-bottom: 1rem;

        p {
          font-size: 1.125rem;
          padding-left: 1rem;
        }
      }

      .dialogContent {
        width: 100%;
        border: 1px solid $palette-table-border;
        background-color: $palette-table-background;
        border-radius: 12px;
        box-shadow: $palette-dropdown-shadow;
        overflow: hidden;
        padding-bottom: 0;

        @media (prefers-color-scheme: dark) {
          background-color: $palette-dark-background-main-nav;
          border-color: $palette-dark-border;
        }
      }
    }
  }

  .tablePagination {
    border-top: 1px solid $palette-table-border;

    @media (prefers-color-scheme: dark) {
      border-top-color: $palette-dark-border;
    }
  }
}
