@import "constants/theme";

.dialogContainer {
  .dialogHeader {
    width: 100%;
    max-width: 360px;
    text-align: center;
    padding: 0;
    border-bottom: none;

    p {
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
      color: $palette-primary-text;

      @media (prefers-color-scheme: dark) {
        color: $palette-dark-primary-text;
      }
    }

    .icon {
      fill: none;
    }
  }

  .dialogContent {
    width: 100%;
    max-width: 360px;
    flex: 0 0 auto;
    padding-bottom: 0;
    overflow: visible;
  }
  .dialogActions {
    width: 100%;
    max-width: 360px;
    flex: 1 1 auto;
    align-items: flex-start;
    margin-top: 32px;
    button {
      flex: 1 0 calc(50% - 6px);
      padding: 10px 18px;
      border-radius: 8px;
      font-size: 16px;
      line-height: 24px;
      height: auto;
      text-transform: none;
      font-family: $regular-font;

      &:first-child {
        margin-right: 6px;
        border: 1px solid $palette-secondary-main;
        color: $palette-primary-text;

        @media (prefers-color-scheme: dark) {
          color: $palette-dark-primary-text;
          border-color: $palette-dark-button-border;
        }
      }
      &:nth-child(2) {
        margin-left: 6px;
        border: 1px solid $palette-secondary-main;
      }
    }
  }
}
