@import "constants/theme";

.root {
  position: relative;
  z-index: 10;
  background-color: $palette-background-content;

  @media (prefers-color-scheme: dark) {
    background-color: $palette-dark-background-main-nav;
  }
}

.handle {
  width: var(--handle-width);
  height: var(--handle-height);
  position: absolute;
  background: $palette-resize-bar;
  @media (prefers-color-scheme: dark) {
    background: $palette-dark-resize-bar;
  }
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
